<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GOOGLE_END_POINT" value="https://www.googleapis.com" />
    <add key="GOOGLE_SEARCH_ACTION" value="/customsearch/v1" />
    <add key="GOOGLE_KEY" value="GOOGLE_KEY" />
    <add key="GOOGLE_CX" value="GOOGLE_CX" />

    <add key="BING_END_POINT" value="https://api.bing.microsoft.com" />
    <add key="BING_SEARCH_ACTION" value="/v7.0/search" />
    <add key="BING_OCP_APIM_SUBSCRIPTION_KEY" value="BING_OCP_APIM_SUBSCRIPTION_KEY" />

    <add key="GENERIC_END_POINT" value="https://fake-searcher.xyz" />
    <add key="GENERIC_SEARCH_ACTION" value="/v1/engine" />
    <add key="GENERIC_AUTHORIZATION_KEY" value="GENERIC_AUTHORIZATION_KEY" />    
  </appSettings>
</configuration>